@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

:root {
    --primary-light: #8B5CF6;
    --primary-dark: #4C1D95;
    --bg: #111827;
    --bg-light: #1F2937;
    --text-color: #D1D5DB; 
    --heading: #A78BFA; 
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: var(--bg);
    color: var(--text-color);
    max-width: 600px;
    margin: auto;
    font-size: 1.5rem;
    letter-spacing: 0.0675rem;
}

a {
    color: var(--primary-light);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    background-color: var(--primary-dark);
    color: var(--text-color);
}

.nav {
    background-color: var(--primary-dark); 
    padding: 1rem 1rem 0.125rem 1rem;
}

.nav a {
    color: var(--text-color);
}
.nav a:hover {
    background-color: var(--text-color);
    color: var(--primary-dark);
}
.logo {
    color: var(--primary-light);
    font-weight: bolder;
    font-size: 2rem;
}

.illustration {
    max-width: 400px;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 1rem;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: var(--heading);
}

.darkbg {
    padding: 1rem;
}

.lightbg {
    background-color: var(--bg-light);
    padding: 1rem;
}

footer {
    background-color: var(--primary-dark);
    padding: 1rem;
    color: var(--text-color);
}

ul {
    text-align: right;
}

li {
    display: inline;
    padding: 1rem;
}

.icons {
    max-width: 50px;
    padding-right: 0.5rem;
}
.icons:hover {
    max-width: 70px;
}
.active {
    font-weight: bolder;
}
.primary-link {
    background-color: var(--primary-dark);
    color: var(--text-color);
}
.primary-link:hover{
    background-color: var(--primary-light);
    color: var(--bg);
}
.secondary-link {
    color: var(--primary-dark);
}
.secondary-link:hover{
    background-color: var(--bg);
    color: var(--primary-light);
}
ol li {
    display: list-item;
}
.projects h1 {
    text-align: left;
}
.date {
    font-size: 0.8rem;
}
.darkbg ul {
    text-align: left;
}
.darkbg li {
    display: list-item;
}
.listedblogs {
    display: list-item;
}