@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

:root {
    --primary: #7C3AED;
    --primary-dark: #5B21B6;
    --bg: #111827;  
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: var(--bg);
    color: white;
}